*{
  margin: 0px;
  padding: 0px;
  outline: none;
}
body{
  background-image: linear-gradient(to right top, #132242, #162c57, #19366d, #1c4083, #1f4b9a, #1f4b9a, #1f4b9a, #1f4b9a, #1c4083, #19366d, #162c57, #132242);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-items: center;
  font-family: sans-serif;
  color: white;


}

.weather{
  margin-bottom: 20px;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  letter-spacing: 1px;
}

input[type='text']{
  width: 320px;
 font-size: 18px;
  border:none;
  background: #253C67;
  color: white;
  margin-bottom: 23px;
  padding: 16px 14px;

}
button{
  width: 100px;
  padding: 16px  0px;
  border: none;
  background: #2A69E0;
  cursor: pointer;
  font-size: 17px;
  letter-spacing: 1px;
  color: white;
}

::placeholder{
  color:#778cb3;
  letter-spacing: 1px;
}

.box{
  width: 100%;
  background-color:#2a6ae030;
  border: 1px solid #6692e330;
  border-radius:10px ;
  backdrop-filter: blur(40px);
  color: rgb(255, 255, 255);

}

.inside-box{
  padding: 15px 15px ;
}